{% extends "store/base.html" %}
{% load static %}
{% block content %}
    <section class="section-content bg padding-y fill-screen">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Acerca de Amoxtli</h2><br>
                    <h4>Nosotros somos el equipo “Ajolotes de papel”, un equipo multidisciplinario, 
                        conformado por varios alumnos del Tec de Monterrey, los cuales desarrollamos “Amoxtli”.</h4>
                        <br>
                    <p class="lead">Amoxtli es una Plataforma Web que permite conectar a los usuarios, principalmente universitarios, 
                        que deseen comprar o vender un libro, académico sobre todo, siguiendo ciertos estándares de calidad 
                        para su venta, todo de una manera fácil y rápida.</p>
                    <br>
                </div>
                <div class="col-sm-4">
                    <img src="https://gdurl.com/UJWj" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>

        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4">
                        <img src="https://gdurl.com/Hq7v" class="img-fluid " alt="Responsive image">
                </div>
                <div class="col-sm-8">
                    <h2>Nuestros valores</h2><br>
                    <ul>
                        <li class="lead ">Calidad</li>
                        <li class="lead ">Responsabilidad</li>
                        <li class="lead ">Pasión</li>
                    </ul>
                    <hr>
                    <h4 class=" lead text-justify"><strong>MISIÓN:</strong> Permitir que los estudiantes puedan obtener libros necesarios para su educación, de manera segura, confiable y de calidad.</h4>
                    <br>
                    <hr>
                    <br>
                    <h4 class=" lead text-justify"><strong>VISIÓN:</strong> Queremos lograr una plataforma de renombre en la que el compartir conocimiento sea fácil y grato. </h4>
    
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="pb-5">
            <div class="container">
                <h5 class="section-title h1">LOS AJOLOTES DE PAPEL</h5>
                <div class="row">
                    
                    <!-- Team member Kereen -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class="img-fluid card-image" src="https://gdurl.com/8HEZ" alt="card image"></p>
                                            <h4 class="card-title">Kereen Gissela Sánchez Jiménez</h4>
                                            <p class="card-text">Negocios Y Finanzas</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Kereen Gissela Sánchez Jiménez</h4>
                                            <p class="card-text">Estudiante de la Licenciatura en Negocios Internacionales del Tec de Monterrey Campus Ciudad de México. Apasionada por la lectura, la escritura y los libros en general.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member Janet -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class="img-fluid card-image" src="https://gdurl.com/yg6W" alt="card image"></p>
                                                <h4 class="card-title">Janet Piña Jaime</h4>
                                                <p class="card-text">Redes Sociales</p>
                                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Janet Piña Jaime</h4>
                                                <p class="card-text">Estudiante de la Licenciatura en Comunicación y Medios Digitales del Tec de Monterrey Campus Ciudad de México. Apasionada por la fotografía y por la creación de audiovisuales.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member Julian -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class="img-fluid  card-image" src="https://gdurl.com/9IoA" alt="card image"></p>
                                            <h4 class="card-title">Carlos Julián Herrera Hernández</h4>
                                            <p class="card-text">Desarrollo de la Plataforma</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Carlos Julián Herrera Hernández</h4>
                                            <p class="card-text">Estudiante de Ingeniería en Tecnologías Computacionales en el Tec de Monterrey Campus Ciudad de México. Apasionado por la computación y tecnología.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member DAniela-->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class="img-fluid card-image" src="https://gdurl.com/sjwN" alt="card image"></p>
                                            <h4 class="card-title">Daniela Lizbeth Gómez Zamora</h4>
                                            <p class="card-text">Diseño</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Daniela Lizbeth Gómez Zamora</h4>
                                            <p class="card-text">Estudiante de Arquitectura del Tec de Monterrey Campus Ciudad de México. Apasionada por el diseño urbano y construcción de rascacielos.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member Meriana -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class="img-fluid card-image" src="https://gdurl.com/pMOY" alt="card image"></p>
                                                <h4 class="card-title">Mariana Zavala Garcia</h4>
                                                <p class="card-text">Contenido Audiovisual</p>
                                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Mariana Zavala Garcia</h4>
                                                <p class="card-text">Estudiante de la Licenciatura en Comunicación y Medios Digitales del Tec de Monterrey Campus Ciudad de México. Apasionada por todas las formas del arte.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fab fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                    <!-- Team member Jussepe-->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class="card-image img-fluid" src="https://gdurl.com/fNCx" alt="card image"></p>
                                            <h4 class="card-title">Jorge Jussepe Moreno Fernández</h4>
                                            <p class="card-text">Publicidad Y Marketing.</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa  fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Jorge Jussepe Moreno Fernández</h4>
                                            <p class="card-text">Estudiante de la Licenciatura en Comunicación y Medios Digitales del Tec de Monterrey Campus Ciudad de México. Apasionado por la producción cinematográfica y publicidad.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fab fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                </div>
            </div>
    </section>
        <!-- Team -->
\
    
{% endblock content %}
