{% load static %}

<!DOCTYPE html>
<html>
   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'store/Footer-with-button-logo.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'store/ui.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'store/responsive.css'%}" media="only screen and (max-width: 1200px)">
        <link rel="stylesheet" type="text/css" href="{% static 'store/styles.css'%}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% if title %}
        <title>Amoxtli - {{title}}</title>
        {%else%}
        <title>Amoxtli</title>
        {% endif %}
    </head>

    <body>
      
        <div id="app" class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'store:store-home'%}">
                    <img class="logo-navbar" src="https://gdurl.com/UJWj" alt="Logo Amoxtli">
                  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'store:store-home'%}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'store:store-subjects'%}">Materias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'store:store-genres'%}">Géneros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              Sobre Amoxtli
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{% url 'store:store-about'%}">Nosotros</a>
                              <a class="dropdown-item" href="{% url 'store:store-faq'%}">Preguntas Frecuentes</a>
                              <a class="dropdown-item" href="{% url 'store:store-contact'%}">Contacto</a>
                              <a class="dropdown-item" href="{% url 'store:store-guide'%}">Guía de Calidad</a>
                            </div>
                          </li>
                    </ul>
                    <ul class="navbar-nav">
                        
                        <form class="form-inline" method="GET" action="{% url 'store:store-search' %}">
                            <input name="q" value="{{request.GET.q}}" class="form-control search-control mr-sm-2 " type="search" placeholder="Busca un libro..." aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                        {% if  user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Hola, {{ user.get_username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'store:book-create'%}">Vender Libro</a>
                                    <a class="dropdown-item" href="{% url 'cart:cart_detail' %}">Carrito</a>
                                    <a class="dropdown-item" href="{% url 'user-profile'%}">Perfil</a>
                                    <a class="dropdown-item" href="{% url 'logout'%}">Salir</a>
                                </div>
                            </li>
                        {% else %}
                        
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login'%}">Inicio de Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register'%}">Registro</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        
        
       
       {% block content %}
       
       {% endblock %}

        
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img class=" logo" src="{% static 'store/media/logo.png'%}" alt="Logo Amoxtli">
        
                    </div>
                    <div class="col-sm-2">
                        <h5>¿Dónde Empezar?</h5>
                        <ul>
                            <li><a href="{% url 'store:store-home'%}">Inicio</a></li>
                            <li><a href="{% url 'register'%}">Crear una Cuenta</a></li>
                            <li><a href="{% url 'store:store-subjects'%}">Libros</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Sobre Nosotros</h5>
                        <ul>
                            <li><a href="{% url 'store:store-about'%}">Acerca de Amoxtli</a></li>
                            <li><a href="{% url 'store:store-contact'%}">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Soporte</h5>
                        <ul>
                            <li><a href="{% url 'store:store-faq'%}">FAQ</a></li>
                            <li><a href="#">Ayuda en línea</a></li>
                            <li><a href="{% url 'user-profile'%}">Foros</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <div class="social-networks">
                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2019 Amoxtli </p>
            </div>
        </footer>
 
    </body> 
</html>