{% extends "store/base.html" %}
{% load static %}
{% block content %}

    <section class="section-content bg padding-y fill-screen">
        <div class="container">
                <a href="{% url 'store:store-guide' %}"> <h3 class="text-right text-danger"> ¿Dudas acerca de un precio? Mira la guía de calidad </h3></a>
            <div class="row">
                <aside class="col-sm-3 product-card-responsive" id="cardProduct">

                    <div class="card card-filter m-1">
                        <article class="card-group-item">
                            <header class="card-header">
                                <a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
                                    <i class="icon-action fa fa-chevron-down"></i>
                                    <h6 class="title">Género:</h6>
                                </a>
                            </header>
                            <div style="" class="filter-content collapse show" id="collapse22">
                                <div class="card-body">

                                    <ul class="list-unstyled list-lg">
                                        <li {% if not genre %} class="active" {% endif %}><a
                                                href="{% url 'store:store-genres' %}">Todos</a></li>
                                        {% for g in genres %}
                                        <li {% if genre.slug == g.slug %} class="active" {% endif %}><a
                                                href="{{ g.get_absolute_url }}">{{g.name}}</a>

                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div> <!-- card-body.// -->
                            </div> <!-- collapse .// -->
                        </article> <!-- card-group-item.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->

                <main class="col-sm-9 product-card-responsive" id="cardProduct">

                    {% for book in books %}
                    <article class="card card-product">
                        <div class="card-body">
                            <div class="row">
                                <aside class="col-sm-3">
                                    <div class="img-wrap"><img
                                            src="{% if book.image %} {{ book.image.url }} {% else %} https://gdurl.com/akGF  {% endif %}">
                                    </div>
                                </aside> <!-- col.// -->
                                <article class="col-sm-6">

                                    <h4 class="title"> {{ book.title }} </h4>


                                    <dl class="dlist-align">
                                        <dt>Autor(es):</dt>
                                        <dd>{{ book.author }}</dd>
                                    </dl> <!-- item-property-hor .// -->
                                    <dl class="dlist-align">
                                        <dt>Editorial:</dt>
                                        <dd>{{book.publisher}}</dd>
                                    </dl> <!-- item-property-hor .// -->
                                    <dl class="dlist-align">
                                        <dt>Género:</dt>
                                        <dd>{{book.genre}}</dd>
                                    </dl> <!-- item-property-hor .// -->
                                    <dl class="dlist-align">
                                        <dt>Materia:</dt>
                                        <dd>{{book.subject}}</dd>
                                    </dl> <!-- item-property-hor .// -->
                                    <dl class="dlist-align">
                                        <dt>Calidad:</dt>
                                        <dd>{{book.quality}}</dd>
                                    </dl> <!-- item-property-hor .// -->

                                </article> <!-- col.// -->
                                <aside class="col-sm-3 border-left">
                                    <div class="action-wrap">
                                        <div class="price-wrap h4">
                                            <span class="price"> ${{book.price}} </span>
                                            <del class="price-old"> ${{book.getOldPrice}}</del>
                                        </div> <!-- info-price-detail // -->
                                        <br>
                                        <p>
                                            <form action="{% url 'cart:cart_add' book.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="submit" value="Agregar a Carrito" class="btn btn-primary mb-1">
                                            </form>
                                            <a href="{{ book.get_absolute_url }}" class="btn btn-secondary"> Detalles </a>
                                        </p>
                                        <a href="#"><i class="fa fa-heart"></i> Añadir a deseados</a>
                                    </div> <!-- action-wrap.// -->
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- product-list.// -->
                    {% endfor %}

                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>



{% endblock content %}