{% extends "store/base.html" %}
{% load static %}
{% block content %}

<section class="section-content bg padding-y fill-screen">
        <div class="container">
    
            <div class="row">
            
                <main class="col-sm-12 product-card-responsive" id="cardProduct">
                    {% if results|length != 0 %}
                        {% for book in results %}
                            <article class="card card-product">
                                <div class="card-body">
                                    <div class="row">
                                        <aside class="col-sm-3">
                                            <div class="img-wrap"><img src="{% if book.image %} {{ book.image.url }} {% else %} https://gdurl.com/akGF  {% endif %}"></div>
                                        </aside> <!-- col.// -->
                                        <article class="col-sm-6">
            
                                            <h4 class="title"> {{ book.title }} </h4>
            
                                        
                                            <dl class="dlist-align">
                                                <dt>Autor(a):</dt>
                                                <dd>{{ book.author }}</dd>
                                            </dl> <!-- item-property-hor .// -->
                                            <dl class="dlist-align">
                                                <dt>Editorial:</dt>
                                                <dd>{{book.publisher}}</dd>
                                            </dl> <!-- item-property-hor .// -->
                                            <dl class="dlist-align">
                                                <dt>Género:</dt>
                                                <dd>{{book.genre}}</dd>
                                            </dl> <!-- item-property-hor .// -->
                                            <dl class="dlist-align">
                                                <dt>Materia:</dt>
                                                <dd>{{book.subject}}</dd>
                                            </dl> <!-- item-property-hor .// -->
                                            <dl class="dlist-align">
                                                <dt>Calidad:</dt>
                                                <dd>{{book.quality}}</dd>
                                            </dl> <!-- item-property-hor .// -->
            
                                        </article> <!-- col.// -->
                                        <aside class="col-sm-3 border-left">
                                            <div class="action-wrap">
                                                <div class="price-wrap h4">
                                                    <span class="price"> ${{book.price}} </span>
                                                    <del class="price-old"> ${{book.getOldPrice}}</del>
                                                </div> <!-- info-price-detail // -->
                                        
                                                <br>
                                                <p>
                                                    <form action="{% url 'cart:cart_add' book.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Agregar a Carrito" class="btn btn-primary mb-1">
                                                    </form>
                                                    <a href="{{ book.get_absolute_url }}" class="btn btn-secondary"> Detalles </a>
                                                </p>
                                                
                                            </div> <!-- action-wrap.// -->
                                        </aside> <!-- col.// -->
                                    </div> <!-- row.// -->
                                </div> <!-- card-body .// -->
                            </article> <!-- product-list.// -->
                        {% endfor %}
                    {% else %}
                        <div class="row p-5"> 
                                <h4 class="text-center display-4"> Libro no encontrado. <small class="text-muted">Revisa acentos o espacios. </small> </h4>
                        </div>
                    {% endif %}
                    
                    
    
                </main> <!-- col.// -->
            </div>
    
        </div> <!-- container .//  -->
    </section>
    


{% endblock content %}