/* BEGGINING OF PRODUCT SLIDER*/
.carousel {
	margin: 50px auto;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
  text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color:#03A9F4;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #03A9F4;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
  background: #03A9F4;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
  
  background: rgb(130, 209, 245);
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #03A9F4;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
/* END OF PRODUCT SLIDER*/

/* About us Styles*/ 
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #ebebeb;  
}



#team {
  background: #f8f8f8 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(130, 209, 245);
    border-color: rgb(130, 209, 245);
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #03A9F4;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}
.card-image{
  border-radius: 50%;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;

}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

/* End of about us */ 

/* COntact Form */

#contact{
  margin-right: 0!important;
  letter-spacing: 2px;
  padding-bottom: 50px;
  }
#contact a{
  
  text-decoration: none;
}
.contact-shadow{
  box-shadow: 10px 10px 5px grey;
  border:1px #03A9F4;
}

/* End COntact */ 

/*Personal Styles*/ 
html, body {
    margin:0;
		padding:0;
    height: 100%;
    
}
#myContainer {
  min-height:100%;
  position:relative;

}
.fill-screen{
  min-height: 100%;
}
body {
    background: #fafafa;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  #bg-steel {
    background-color: #48bff6 !important;
  }

  .logo-navbar{
    max-width: 70px;
  }

  .site-header .navbar-nav a{
    color: #303131 !important;
    font-size: 18px !important;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #8d8a8a;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
     
   .h3-responsive{
    font-weight: normal;
    color: #000000;
    font-size: 25px;

   }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  .article-authors {
      white-space: normal !important; 
  }
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #f48fb1 !important;
    box-shadow: 0 0 0 1px #f48fb1 !important;
}
.active-pink-3 input[type=text] {
    border: 1px solid #f48fb1 !important;
    box-shadow: 0 0 0 1px #f48fb1 !important;
 }

.buy-icon{
  display: none!important;
}

.carousel-item-size{
  width: 33% !important;
  margin-left: 50px;
} 
.items-container{
  margin: 0 auto;
}
.navbar-light .navbar-nav .nav-link{
 font-size: 23px!important;
}
.search-control{
  width: 500px!important;
} 
.dropdown-item{
  font-size: 17px!important;
}




@media screen and (max-width: 1443px) {
  .search-control{
    width: auto!important;
  } 
}


 @media screen and (max-width: 990px) {
  .carousel .thumb-content .btn{
    font-size: 8px;
  }
  
}

@media screen and (max-width: 767px) {
  .star-rating{
    display: none!important;
  }
  .buy-icon{
    position: relative!important;
    display: block!important;
    background: rgb(87, 190, 238);
    border-radius: 5px!important;
    max-width: 31px!important;
  }
  .buy-icon:hover{
    background: rgb(3, 147, 214);
  }
  .carousel .thumb-content .btn{
    font-size: 8px;
    display: none;
  }
  .carousel .thumb-wrapper{
    padding: 25px 5px!important;
  }
  .carousel .item h4{
    overflow-wrap: break-word!important;
    font-size: 12px;
  }
  .h3-responsive{
    font-size: 15px!important;
    padding-bottom: 0px !important;
    bottom: 10px;
  }
  .carousel .wish-icon{
    right: 9px;
    top: 1px;
  }
  .carousel-item-size{
    margin-left: 0px;
  } 
  .navbar-light .navbar-nav .nav-link{
    font-size: 17px!important;
   }
}











