{% extends "store/base.html" %}

{% load static %}
{% block content %}

<section class="section-content  padding-y fill-screen">

    {% if messages %}
    {% for message in messages%}
    
        <div class="alert alert-{{message.tags}} text-center">
            {{message}}
        </div>
    
    
    {% endfor%}
    {% endif %}
    <div class="row py-3" style="margin-right: 0!important;">
        <h2 class="text-left display-4 col-9"> Hola, {%if user.profile.name %}  {{ user.profile.name }} {% else %} {{ user.get_username }} {% endif %}</h2>
       
       
    </div>

    <div class="card-deck p-5" style="margin-right: 0!important;">
            <div class="card">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="card-block px-2">
                                    <h3 class="card-title"><a href="{% url 'user-profile-books'%}"> Tus libros</a></h3>
                                <p class="card-text text-left lead">Libros que has publicado.</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img src="https://gdurl.com/swiw" class="img-fluid" alt="Imagen Paquete">
                        </div>
                    </div>
              </div>
              <div class="card">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                            <h3 class="card-title"><a href="{% url 'user-profile-info'%}"> Completar/ Actualizar Perfil</a></h3>
                            <p class="card-text text-left lead">Revisa o cambia información personal.</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="https://gdurl.com/7yHs" class="img-fluid" alt="Imagen Perfil">
                    </div>
                </div>
             </div>
              <div class="card">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="card-block px-2">
                                <h3 class="card-title">Seguridad</h3>
                                <p class="card-text text-left lead">Contraseñas y privacidad.</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img src="https://gdurl.com/0CMg" class="img-fluid" alt="Imagen Candado">
                        </div>
                    </div>
              </div>
              
    </div>

    <br>
    <br>
    <br>

    <div class="card-deck p-5" style="margin-right: 0!important;">
            <div class="card">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="card-block px-2">
                                <h3 class="card-title"><a href="{% url 'user-profile-address'%}"> Direcciones</a></h3>
                                <p class="card-text text-left lead">Actualiza o registra direcciones.</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img src="https://gdurl.com/RPm9" class="img-fluid" alt="Imagen Lugar">
                        </div>
                    </div>
              </div>
              <div class="card">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                                <h3 class="card-title"><a href="{% url 'user-profile-card'%}"> Forma de Pago</a></h3>
                            <p class="card-text text-left lead">Revisa o elimina tarjeta</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <img src="https://gdurl.com/vJ8f" class="img-fluid" alt="Imagen tarjetas">
                    </div>
                </div>
          </div>
              <div class="card">
                    <div class="row no-gutters">
                        <div class="col">
                            <div class="card-block px-2">
                                <h3 class="card-title">Preferencias</h3>
                                <p class="card-text text-left lead">Ajustes generales.</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <img src="https://gdurl.com/DruD" class="img-fluid" alt=" Imagen Ajustes">
                        </div>
                    </div>
              </div>
            
    </div>
    
    

</section>
{% endblock content %}