{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<section class="section-content  padding-y fill-screen"> 
        <div class="card m-5 p-1">
                <header class="card-header text-center border">
                    <h4 class="card-title mt-2 ">Información de  Perfil</h4>
                </header>
                <article class="card-body p-2">
                    <form method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <fieldset class="form-group"> 
                            {{ uForm | crispy }}
                            <br>
                            <br>
                            {{ pForm | crispy }}
                        </fieldset>
                        <hr>
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Actualizar</button>
                        </div> <!-- form-group// -->         
                    </form>
                </article> <!-- card-body end .// -->    
            </div> <!-- card.// -->
</section>

{% endblock content %}