{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<section class="section-content bg padding-y fill-screen">
    <div class="container p-5">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrito de Compras
                <a href="{% url 'store:store-subjects'%}" class="btn btn-outline-info btn-sm pull-right">Seguir comprando</a>
                <div class="clearfix"></div>
            </div>

            <div class="card-body m-3">
                <!-- PRODUCT -->
                {% for item in cart %}
                    {% with book=item.book  %}
                        {% if book in books %}
                            {% if book.publishedBy != userProfile.user %}
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-2 text-center">
                                        <img class="img-fluid"
                                            src="{% if book.image %} {{ book.image.url }} {% else %} {% static 'media/default-book.png' %} {% endif %}"
                                            alt="prewiew">
                                    </div>
                                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                        <a href="{{ book.get_absolute_url }}"><h4 class="product-name"><strong>{{ book.title }}</strong></h4></a>
                                        <h4>
                                            <small>Publicado por: {{ book.publishedBy }}</small>
                                        </h4>
                                    </div>
                                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                        <div class="col-6 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                            <h6><strong>{{ item.price }}</strong></h6>
                                        </div>

                                        <div class="col-2 col-sm-2 col-md-2 text-right">
                                            <a href="{% url 'cart:cart_remove' book.id %}">
                                                <button type="button" class="btn btn-outline-danger btn-xs">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                <!-- END PRODUCT -->
            </div>

            <div class="card-footer m-3">
                <div class="row lead">
                    
                    <div class="col-sm-8">
                    
                        {% if length > 0 %}
                           
                                <div class="col-sm-8 text-left">
                                    
                                    Tu Orden: {{ length }} Libro(s).
                                 </div>       
                        {% else %}
                                <div class="col-sm-8 text-left">Carrito Vacío</di   v> 
                            
                        {% endif %}
                   
                    </div>
                   <div class="col-sm-4 text-right">
                        Precio Total:  ${{ totalPrice }}
                   </div>
                   
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}